<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TA Abdoel Rozak | Game Tebak Budaya
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-5 rounded">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card card-parent mt-5 mb-5 p-5">
          <div class="card-body">
            <div class="text-center">
              <img src="assets/img/logo.webp" class="img-fluid" width="150" alt="sobatbudaya.or.id">
            </div>
            <h2 class="text-center mb-4">Bagian {{ sesi }}</h2>
            <p class="text-center">Silahkan pilih quiz. Skor akan muncul dan tersimpan setelah mengerjakannya.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, blanditiis dignissimos saepe aliquam magnam iste, officia inventore eius maiores explicabo totam necessitatibus perspiciatis distinctio deserunt delectus modi temporibus aliquid labore.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>