<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Febrian Abdoel Rozak | Tebak Budaya Nusantara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-5 rounded">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card card-parent mt-5 mb-5 p-5">
          <div class="card-body">
            <h2 class="text-center mb-4">Bagian {{ sesi }}</h2>
            <p class="text-center">Kerjakan soal-soal berikut...</p>
            <p>1. Apa nama tarian tradisional yang berasal dari Bali dan sering digunakan sebagai tarian penyambutan?</p>
            <ul>
              <li>
                <input type="checkbox"> Tari Saman
              </li>
              <li>
                <input type="checkbox"> Tari Tor-Tor
              </li>
              <li>
                <input type="checkbox"> Tari Pendet
              </li>
              <li>
                <input type="checkbox"> Tari Reog Ponorogo
              </li>
            </ul>
            <p>2. Tarian tradisional yang biasanya ditarikan oleh sekelompok pemuda dengan gerakan tangan yang cepat dan ritmik disertai dengan nyanyian adalah...</p>
            <ul>
              <li>
                <input type="checkbox"> Tari Saman
              </li>
              <li>
                <input type="checkbox"> Tari Tor-Tor
              </li>
              <li>
                <input type="checkbox"> Tari Pendet
              </li>
              <li>
                <input type="checkbox"> Tari Reog Ponorogo
              </li>
            </ul>
            <p>3. Tari topeng berasal dari?</p>
            <ul>
              <li>
                <input type="checkbox"> Jawa Barat
              </li>
              <li>
                <input type="checkbox"> Timur
              </li>
              <li>
                <input type="checkbox"> Aceh
              </li>
              <li>
                <input type="checkbox"> Sumatera Utara
              </li>
            </ul>
            <p>4. Alat musik tradisional Jawa yang terdiri dari berbagai jenis gong, kendang, saron, dan bonang adalah..</p>
            <ul>
              <li>
                <input type="checkbox"> Gamelan
              </li>
              <li>
                <input type="checkbox"> Angklung
              </li>
              <li>
                <input type="checkbox"> Sasando
              </li>
              <li>
                <input type="checkbox"> Telempong
              </li>
            </ul>
            <p>5. Alat musik tradisional yang terbuat dari bambu dan dimainkan dengan cara digoyangkan adalah...</p>
            <ul>
              <li>
                <input type="checkbox"> Gamelan
              </li>
              <li>
                <input type="checkbox"> Angklung
              </li>
              <li>
                <input type="checkbox"> Sasando
              </li>
              <li>
                <input type="checkbox"> Telempong
              </li>
            </ul>
            <button class="btn btn-success mt-3 form-control" id="btnSubmit">Selesai</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>