<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Febrian Abdoel Rozak | Tebak Budaya Nusantara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-3 rounded">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card card-parent mt-5 mb-5 p-5">
          <div class="card-body">
            <button class="btn btn-success" id="btnBack"><i class="fas fa-home"></i> kembali</button>
            <h2 class="text-center mb-4">Profile</h2>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="mt-3">
                  <label for="full_name">Nama Lengkap</label>
                  <input type="text" class="form-control" id="full_name">
                </div>
                <div class="mt-3">
                  <label for="full_name">Username</label>
                  <input type="text" class="form-control" id="full_name">
                </div>
                <div class="mt-3">
                  <button class="btn btn-success form-control" id="btnUpdateProfile">Update</button>
                </div>
                <div class="mt-3">
                  <a href="user/ganti-password">Ganti Password?</a>
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>