<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TA Abdoel Rozak
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-5 rounded">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5 p-5">
          <div class="card-body">
            <h2 class="text-center mb-4">Login</h2>
            <form action="">
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" required>
              </div>
              <p>Belum memiliki akun? <a href="" class="mb-3">Register</a></p>
              <div style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
