<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Febrian Abdoel Rozak | Tebak Budaya Nusantara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-3 rounded">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card card-parent mt-5 mb-5 p-5">
          <div class="card-body">
            <button class="btn btn-success" id="btnProfile"><i class="fas fa-user"></i> profile</button>
            <h2 class="text-center mb-4">Home</h2>
            <p class="text-center">Silahkan pilih quiz. Skor akan muncul dan tersimpan setelah mengerjakannya.</p>
            <div class="row">
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #51C6FF; cursor: pointer;" data-sesi="satu">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 1</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #51C6FF; cursor: pointer;" data-sesi="dua">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 2</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #51C6FF; cursor: pointer;" data-sesi="tiga">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 3</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #15A4C4; cursor: pointer;" data-sesi="empat">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 4</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #15A4C4; cursor: pointer;" data-sesi="lima">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 5</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #15A4C4; cursor: pointer;" data-sesi="enam">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 6</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #0753A1; cursor: pointer;" data-sesi="tujuh">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 7</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #0753A1; cursor: pointer;" data-sesi="delapan">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 8</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card shadow mt-3 quizId" style="background-color: #0753A1; cursor: pointer;" data-sesi="sembilan">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 9</h1>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="card shadow mt-3 quizId" style="background-color: #A52E34; cursor: pointer;" data-sesi="sepuluh">
                  <div class="card-body text-center">
                    <h1 class="text-white">Bagian 10</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>