<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Febrian Abdoel Rozak | Tebak Budaya Nusantara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-full-background">
  <div class="container mt-5 rounded">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5 p-5">
          <div class="card-body">
            <div class="center">
              <img src="assets/img/logo.png" width="150">
            </div>
            <h2 class="text-center mb-4">Register</h2>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Nama Lengkap" id="nama_lengkap" required>
              </div>
              <div class="mb-3">
                <input type="text" class="form-control" placeholder="Username" id="username" required>
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" placeholder="Password" id="password" required>
              </div>
              <p>Sudah memiliki akun? <a href="login" class="mb-3">Login</a></p>
              <div style="text-align: center;">
                <button type="submit" class="btn btn-success btn-block" id="btnRegister">Register</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
